/* PAGE STYLES */
.page {
    width: 600px;
    height: 800px;
    margin: 20px auto;
    position: relative;
}

/* GRID PAPER */
.grid-page {
    background: 
        linear-gradient(#e4e4e4 1px, transparent 1px),
        linear-gradient(90deg, #e4e4e4 1px, transparent 1px),
        #fff9e8;
    background-size: 20px 20px;
}

/* LINED PAPER */
.lined-page {
    background: 
        repeating-linear-gradient(#fff9e8, #fff9e8 29px, #e4e4e4 30px),
        #fff9e8;
    background-size: 100% 30px;
}

/* BLANK PAPER */
.blank-page {
    background: #fff9e8;
}

/* STICKER MENU */
#sticker-menu {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.sticker-option {
    width: 50px;
    cursor: grab;
    margin: 5px;
}
